# Rust build artifacts
/target/
**/*.rs.bk
*.pdb

# Rust libraries
*.so
*.dylib
*.dll
*.rlib
*.d
*.a

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Android / Gradle
*.iml
**/.gradle/
**/local.properties
**/build/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.jks
*.keystore

# iOS / Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/*
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/

# Local scratch directory
/scratch/
